$white: #fff;
$black: #000;

$primary-light: #0d6efd;
$secondary-light: #6c757d;
$success-light: #198754;
$info-light: #0dcaf0;
$warning-light: #ffc107;
$danger-light: #dc3545;
$light-light: #f8f9fa;
$dark-light: #343a40;

$primary-dark: #1a73e8;
$secondary-dark: #cfd8dc;
$success-dark: #00c851;
$info-dark: #33b5e5;
$warning-dark: #ffbb33;
$danger-dark: #ff4444;
$light-dark: #212121;
$dark-dark: #f6f6f6;

$theme-colors: (
  light: (
    primary: $primary-light,
    secondary: $secondary-light,
    success: $success-light,
    info: $info-light,
    warning: $warning-light,
    danger: $danger-light,
    light: $light-light,
    dark: $dark-light
  ),
  dark: (
    primary: $primary-dark,
    secondary: $secondary-dark,
    success: $success-dark,
    info: $info-dark,
    warning: $warning-dark,
    danger: $danger-dark,
    light: $light-dark,
    dark: $dark-dark
  )
);
