@import '../abstracts/variables.scss';

.light-mode {
    background-color: $light-light;
    color: $dark-light;
}

/* Quy tắc CSS của chế độ tối */
.dark-mode {
    background-color: $dark-dark;
    color: $light-dark;
}